<a href="https://colab.research.google.com/github/azilmusthafa/Assinment-01---DW4/blob/main/GUVI_Prectice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!python - v

In [ ]:
!pwd

/content

In [ ]:
print (1+1)

In [ ]:
!ls

In [ ]:
print("Hellow")


import this

**Assignment-01**

In [ ]:
fname= input("Enter First Name : ")
if True==(fname.istitle()):
  lname= input("Last Last name : ")
  if True==(lname.istitle()):
    mob=input("Enter Mobile No : ")
    if True==mob.isdigit() and 10==len(mob):
      email=input("Enter Your Email :")
      if False==email.lower():
        print("email shoud be in lower-case letters")
      elif email==email.endswith("mail.com"):
        print("You succesfull entered")
      elif 0==email.count("@"):
        print(" your email address missing some character")
      else:
        print("You have succesfully entered")
    
    else:
      print("Your mobile number shoud be 10 numbers And Star with 0")
  
  else:
    print("Enter your name with starting capital letter Ex: Ravi")

else:
  print("Enter your name with starting capital letter Ex: Ravi")

Enter First Name : Af
Last Last name : Wd
Enter Mobile No : 4772214469

In [ ]:
sntm = input()
tem  = int(input())

if sntm=="FR":
  print("go to hospital")
elif sntm=="CF":
  if tem>10:
    print("he fast to hospital")
  else:
    print("just go to hospital")
else:
  print ("Be Relex")

In [ ]:
sym= input()
rtp= int (input())
codis= input()

if sym=="high":
  print("go rtpcr")
  if rtp>35:
     print("go hospital and CT scan")
     if codis=="Yes":
        print("put him in ICU")
     else:
       print("put them in gen word")
  else:
     print("go for self isolate")  
else:
  print("get some medi and go home")

**File Hendling**

In [ ]:
# creating Derectory(Filder)
import os
os.mkdir("datascience")

In [ ]:
#rename folder
os.rename("datascience", "dsdtudy") #(oldname, new name)

In [ ]:
!mkdir guvi

In [ ]:
# remove directotr
os.rmdir("dsdtudy")

In [ ]:
# "x" create  : will create file, return error if the file exist 
file1= open("ameenz.py","x")
# "w" Write - will create a file if the specified file does not exist
file1= open("adhilz.txt", "w")

In [ ]:
# "w" Write - will create a file if the specified file does not exist
file1= open("adhilz.txt", "w")

In [ ]:
# Write to an existing file
# to write to existing file, you must add a perameter to the open() function

#"a" Append - will append to the end of the file
#"w" write - will overwrite any existing content

file1= open("adhilz.text", "a")
file1.write("i wil do this simpelly")
file1.close()

# always you have to close the file

In [ ]:
# remove file usinng keyword "remove"

os.remove("mango.text")

In [ ]:
# example task

#open a file for overwirte  , it will replace existing data
myfile= open("guvids.txt", "w") 

x=("first line\n", "second line\n", "Third line\n","Forth linen\n")
myfile.writelines(x)

# Open file for read  
myfile= open("guvids.txt", "r")
print(myfile.read())
myfile.close()           #if close oly data will save

first line
second line
Third line
Forth linen

In [ ]:
# adding extra line to existing same file

#open a file for add a new data to existing file via "a"
myfile= open("guvids.txt", "a")

tx=("this is exra line8\n")
myfile.writelines(tx)
myfile.close()      #if close only data will save

# Open file for read       #this shoud be here to print output of data
myfile= open("guvids.txt", "r")
print(myfile.read())
myfile.close()

first line
second line
Third line
Forth linen
this is exra line8
this is exra line8
this is exra line8
this is exra line8

In [ ]:
# example Task

name=input("Enert name: ")
x=name.capitalize()

file2=open("info.txt","w") 
file2.writelines(x)
file2.close()       


                       #onec complet first input only need to move second

mob= input("Enert your Mobile no: ")

if len(mob)==10:
  file2=open("info.txt","a")
  tx=("\n", mob)      #here newline after that mobile number 
  file2.writelines(tx)
  file2.close() 
else:
  print("Enter Correct No")

  
file2= open("info.txt", "r")  
print(file2.read())
file2.close()

Enert name: fgdfgdg
Enert your Mobile no: 0112233456
Fgdfgdg
0112233456

## **PANDAS**

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
import pandas as azil  
s= azil.Series
print(s)

<class 'pandas.core.series.Series'>

In [ ]:
import pandas as azil  # this"panda" package/library is cannecting data set to python script from anywhere
import numpy as nm
data = nm.array(["a","b","c","d","f"])
s= azil.Series(data)
print(s)
 
  
# we did not pass any index , by defult it assining index

0    a
1    b
2    c
3    d
4    f
dtype: object

In [ ]:
import pandas as azil  
import numpy as nm                                
data = nm.array(["a","b","c","d","f"])
s= azil.Series(data,index=[100,101,102,103,104]) # index and areay data equal
print(s)                                         # if not given index it start from 0 by defult

# here converting arrys to Series
# "numpy" used for scientifical culculation

100    a
101    b
102    c
103    d
104    f
dtype: object

In [ ]:
import pandas as azil  
import numpy as nm
data = nm.array(["ameen","20","mal","yes"])
s= azil.Series(data,index=["Name","Age","Sex","Married"]) # can assin value
print(s)

Name       ameen
Age           20
Sex          mal
Married      yes
dtype: object

In [ ]:
import pandas as azil  
import numpy as nm
data = {'a':5.,'b':2.,'c':3.}
s= azil.Series(data) # can assin value
print(s)

# here converting Dictionary to Series  without data

a    5.0
b    2.0
c    3.0
dtype: float64

In [ ]:
import pandas as azil  
import numpy as nm
data = {'a':3.,'b':1.,'c':7.}
s= azil.Series(data,index=["Name","Age","Sex"]) # can assin value
print(s)

# here converting Dictionary to Series

Name   NaN
Age    NaN
Sex    NaN
dtype: float64

In [ ]:
import pandas as azil
s= azil.Series([1,2,3,4],index=["a","b","c","d"])

print(s)
print(s["a"])  # retrieving a single elements

a    1
b    2
c    3
d    4
dtype: int64
1

In [ ]:
import pandas as azil
import numpy as nm
x = nm.array([1,2,3,4])
s= azil.Series(x,index=["a","b","c","d"])

print(s)
print(s["a"])  # same above cord



# SINGLE squr brackets [] used for Series ans array

# if use TWO squr brackets [[]] its for 2D array or Data framwork

# if use THREE squr brackets [[[]] its for 3D Data

# if use Four squr brackets [[[[]] its for 4D Data

a    1
b    2
c    3
d    4
dtype: int64
1

In [ ]:
import pandas as azil
s= azil.Series([1,2,3,4],index=["a","b","c","d"])

print(s[["a","c","b"]]) 

 # retrieving a multipal elements 
 # retrieving data no need to be in order

a    1
c    3
b    2
dtype: int64

## **DataFram**

In [ ]:
#creating a DataFrame from List 

import pandas as azil
mydata=[1,2,3,4,5]
x=azil.DataFrame(mydata)
print(x)

In [ ]:
#creating a DataFrame from List into list

import pandas as azil
datax=[["g1",10],["g2",20],["g3",25]]
df=azil.DataFrame (datax,columns=["Name","Age"]) 
print(df)

#if not given index it will start from by defult
#creating columns

  Name  Age
0   g1   10
1   g2   20
2   g3   25

In [ ]:
import pandas as azil
datax=[["g1",10],["g2",20],["g3",25]]
df=azil.DataFrame(datax,index=[100,101,102],columns=["Name","Age"]) 
print(df)

#if  given index it will start with given index

    Name  Age
100   g1   10
101   g2   20
102   g3   25

In [ ]:
# Task ********* 01

import pandas as azil

file3=open("datafile.txt", "w")
datax=[["g1",10],["g2",20],["g3",25]]
df=azil.DataFrame(datax,index=[100,101,102],columns=["Name","Age"]) 
file3.writable(dt)
file3.close()

file3=open("datafile.txt", "r")
print(file3.read())
file3.close()

In [ ]:
# Data type converetion  # 1- implicit Convertion = autometiclly convert
                         # 2- Explicit Convertion = specificly mentio the Data Type


import pandas as azil  
import numpy as nm
data = {'a':3.,'b':1.,'c':7.}
s= azil.Series(data,index=["Name","Age","Sex"]) 
print(s)

# series is Hommoginious
# this took place autometically converted as FloatType

Name   NaN
Age    NaN
Sex    NaN
dtype: float64

In [ ]:
 # 2. Explicit Convertion = specificly mentio the Data Type

import pandas as azil
datax=[["g1",10.],["g2",20.],["g3",25.]]
df=azil.DataFrame(datax,index=[100,101,102],columns=["Name","Age"],dtype=float) 
print(df)

#given data also shoud be float Type

In [ ]:
# Creating DtataFram from Dictionary of arrays/List

import pandas as azil
datax={"Name":["ameen","juma","kareem"], "Age":[25,30,15]}
df=azil.DataFrame(datax)
print(df)

In [ ]:
# creating a DataFrme with passing a dic of lists to DataFrame constructor

import pandas as azil

sportdata = {
         "Year":[2010,2011,2012,2011,2012,2010,2011,2012],
         "team":["CSK","MI","MI","SRH","KKR","CSK","CSK","CSK"],
         "wins":[11,8,10,15,11,6,10,4],
         "losses":[5,8,6,1,5,10,6,12]}

ipl=azil.DataFrame(sportdata)
print(ipl)

print(ipl.dtypes)     # data Type
print(ipl.describe()) # specially work this on Numerical datatype 
                      # std =  Standed Deviation ==Veriation
                      # precentage on this lis (25%,50%75%) = IQR inter Quatel Range
print(ipl.info())     # Data Type

print(ipl.boxplot())  #ploting

print(ipl.plot.line(y="wins"))

print(ipl.hist(bins=3))
print(ipl.head(5)) # To get general pic of data
print(ipl.tail(3))

In [ ]:
print(ipl.shape) # it mean How many numbers of Row & Colomn
print(ipl.size)  # How many data there in table
print(ipl.sort_values(by=["wins"],ascending=False)) # top winners

print(ipl.to_csv("ds.csv")) # export file as csv file

(8, 4)
32
   Year team  wins  losses
3  2011  SRH    15       1
0  2010  CSK    11       5
4  2012  KKR    11       5
2  2012   MI    10       6
6  2011  CSK    10       6
1  2011   MI     8       8
5  2010  CSK     6      10
7  2012  CSK     4      12
None

In [ ]:
# Data Types    1 Catergerical
              # 2 Numerical